@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

.bg{
  background-color: white;
  background-image: linear-gradient( white grey );
  height:100vh;
  background-position:left center;
  background-repeat:no-repeat;
  background-size: cover;
}

font{
  font-family:'Trade Winds' cursive;
  src: url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
}

.text{
  text-align: center;
}