@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);
 
 .bg{
  background-image: url('../src/asset/image/mount.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.button {
  background-color:#282c34;
  color: blanchedalmond;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:hover{
  background-color:darkslategrey;
}

.button:active{
  background-color: darkslategrey;
  transform: translateY(4px);
}

.card {
  display:inline-flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  
}